.bg-grey {
    background-color: #1e272e;
}

.bg-hor {
    background-color: #1e272e;
}

.bg-min {
    background-color: #00b894;
}

.bg-ele {
    background-color: #0984e3;
}

.bg- {
    background-color: #74b9ff;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

footer,
footer a {
    color: white;
    text-decoration: none;
}

.footer-info ul,
.footer-info a {
    list-style: none;
    color: white;
    padding-left: 0;
    transition: .4s ease;
}

.footer-info a:hover {
    list-style: none;
    padding-left: 2rem;
    transition: .4s ease;
    color: white;
}

.footer-socical span:hover {
    cursor: pointer;
    list-style: none;
    transition: 0.5s;
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    color: yellow;
}

.header-nav i:hover {
    scale: 120%;
    cursor: pointer;
    list-style: none;
    color: yellow;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #ffffff, #c5d2d3);
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: auto;
    transition: .06s ease;
    opacity: 80%;
}

.card-img-top:hover {
    opacity: 100%;
}

.img-thumbnail {
    border: none;
    border-radius: 15px;
}

.product-box {
    background: #272d40;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.card-title a {
    text-decoration: none;
}

.card-text {
    margin: 2px auto 2px 20px;
}

.custom-tag {
    max-width: 100%;
    height: auto;
    text-align: center;
    background: #1e272e;
}

.custom-tag>img {
    margin: auto 0 0 0;
    max-width: 100%;
    height: 680px;
    /*height: auto;/* Chọn cùng cỡ ảnh */
    opacity: 90%;
}

hr{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.circle {
    width: 500px;
    height: 500px;
    line-height: 500px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background: #000
}

.divider {
    display: flex;
}

.divider:before,
.divider:after {
    content: "";
    flex: 1;
}

.line {
    align-items: center;
    margin: 1em -1em;
}

.line:before,
.line:after {
    height: 1px;
    margin: 0 1em;
}

.one-line:before,
.one-line:after {
    background: #1e272e;
}